/.gitattributes text eol=lf

*.zip binary
*.exe binary

*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.json text eol=lf
